argos-translate-lt==1.12.1
Flask==2.2.5
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
Flask-Limiter==2.6.3
Flask-Babel==3.1.0
waitress==2.1.2
expiringdict==1.2.2
langdetect==1.0.9
lexilang==1.0.7
APScheduler==3.11.2
argos-translate-files==1.4.3
itsdangerous==2.1.2
Werkzeug==2.3.8
requests==2.31.0
redis==4.4.4
numpy<2; python_version<='3.12'
numpy==2.3.5; python_version>='3.13'
prometheus-client==0.15.0
polib==1.1.1
packaging==23.1
